body {
    background: #f1f1f1;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.container {
    background: white;
    padding: 25px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 15px;
}
button {
    width: 100%;
    padding: 12px;
    background: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
#result {
    margin-top: 20px;
    padding: 15px;
    font-size: 17px;
    text-align: center;
    background: #e9ecef;
    border-radius: 8px;
}
